* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  background-image: linear-gradient(to bottom right, #f9fafb, #d2d6db);
  font-family: "Noto Sans", sans-serif;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.testimonial-card {
  width: 340px;
  margin: 200px auto;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.testimonial-card__header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.testimonial-card__image {
  width: 48px;
  aspect-ratio: 1;
}

.testimonial-card__name {
  font-size: 18px;
  color: #171717;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.testimonial-card__username {
  font-size: 14px;
  color: #525252;
}

.testimonial-card__body {
  color: #525252;
}
